<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">NAVEGAÇÃO PRINCIPAL</li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-line-chart"></i>
          <span> Gastos</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">          
          <li *ngIf="menuGastos.length === 0">
            <a>
                <i class="fa fa-file-o"></i> Nenhum gasto inicializado              
            </a>
          </li>
          <li *ngFor="let item of menuGastos">
              <a [routerLink]="['/home']" [queryParams]="{ano: item}" (click)="changeYear()">
                  <i class="fa fa-calendar-o"></i>{{item}}
              </a>            
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a [routerLink]="['/novo']">
          <i class="fa fa-pencil"></i>
          <span>Iniciar Novo Gasto</span>          
        </a>
      </li>
    </ul>
  </section>
</aside>