<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">NAVEGAÇÃO PRINCIPAL</li>
      <li class="active treeview menu-open">
        <a href="#">
          <i class="fa fa-line-chart"></i> <span> Gastos</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li class="active"><a [routerLink]="['/fares']"><i class="fa fa-calendar"></i>2018</a></li>
        </ul>
      </li>
    </ul>
  </section>
</aside>















