<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">NAVEGAÇÃO PRINCIPAL</li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-line-chart"></i>
          <span> Gastos</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li class="treeview">
            <a [routerLink]="['/novo']">
              <i class="fa fa-circle-o"></i> Iniciar Novo Ciclo
            </a>
          </li>
          <li *ngFor="let item of menuGastos">
            <app-gastos-menu [gasto]="item"></app-gastos-menu>
          </li>
        </ul>
      </li>
    </ul>
  </section>
</aside>