<section class="content-header">
</section>

<section class="content">

  <div class="home welcome-home">
    <h1>Seja muito bem vindo!</h1>
    <p>
      Este é o <strong><em>DruFare</em></strong>, <br />o seu gerenciador de gastos pessoais.
    </p>
    <a class="btn btn-primary btn-sm" [routerLink]="['/fares']">Começar</a>
  </div>
</section>


<!-- <section class="content-header">
  </section>

  <section class="content">

    <div class="home welcome-home">
       <h1>Bem vindo ao Meat!</h1>
       <p>
         Está com fome? Peça e receba em casa.
       </p>
       <a class="btn btn-primary btn-lg" [routerLink]="['/restaurants']">Ver Restaurantes</a>
    </div>

  </section>
 -->
