<!-- <section class="content-header">
</section>

<section class="content">

  <div class="home welcome-home">
    <h1>Seja muito bem vindo!</h1>
    <p>
      Este é o <strong><em>DruFare</em></strong>, <br />o seu gerenciador de gastos pessoais.
    </p>
    <a class="btn btn-success btn-sm" [routerLink]="['/fares']">Começar</a>
  </div>
</section> -->
<div class="row">
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{title}}</h4>
        </div>
      </div>
  </div>
</div>

    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="row">
            <button [routerLink]="['/novo']" title="Iniciar Novo Ciclo" type="button" class="bmd-btn-fab plusHome pull-right">
              <i class="fa fa-plus"></i>
            </button>
        </div>
      </div>
    </div>


<!-- <section class="content-header">
  </section>

  <section class="content">

    <div class="home welcome-home">
       <h1>Bem vindo ao Meat!</h1>
       <p>
         Está com fome? Peça e receba em casa.
       </p>
       <a class="btn btn-primary btn-lg" [routerLink]="['/restaurants']">Ver Restaurantes</a>
    </div>

  </section>
 -->
