<section class="content-header">
  <h1>Gastos {{anoTitle}}</h1>
  <div class="row">
    <app-botao-plus [routerLink]="['/novo']"></app-botao-plus>
  </div>
</section>

<div *ngIf="gastos.length === 0" class="col-md-9 col-sm-9 col-xs-12">
  <div style="margin-top: 10px;" class="callout callout-warning">  
    <h4>{{title}}</h4>
    <p>
      Para registrar um novo clique em &nbsp;<i class="fa fa-plus"></i><br/>
      Ou clique em Iniciar Novo Gasto ao lado &nbsp; <i class="fa fa-hand-o-left"></i>
    </p>
  </div>  
</div>

<section class="content">  

  <div class="row">
    <div class="col-md-12 col-sm-8 col-xs-12">      
      <div class="row">
        <div *ngFor="let item of gastos" class="col-md-4 col-sm-8 col-xs-12">
          <app-gastos [dashboard]="item"></app-gastos>
        </div>
      </div>
    </div>

  </div>
</section>