<section class="content-header welcome-home">
</section>

<div class="row">
  <div class="col-md-11 col-sm-6 col-xs-12">
    <div class="box box-success">
      <div class="box-header">
        <h4 class="box-title">Novo Ciclo de Gastos</h4>
      </div>

      <div class="box-body">
        <form autocomplete="off" role="form" [formGroup]="novoForm">
          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <label>Escolha o ano</label>
                <dx-select-box formControlName="ano" [dataSource]="anos">
                  <dx-validator>
                    <dxi-validation-rule type="required" message="Você deve escolher um ano!"></dxi-validation-rule>
                  </dx-validator>
                </dx-select-box>
              </div>
              <div class="col-md-6">
                <label>Escolha o mês</label>
                <dx-select-box formControlName="mes" [dataSource]="meses">
                  <dx-validator>
                    <dxi-validation-rule type="required" message="Você deve escolher um mês!"></dxi-validation-rule>
                  </dx-validator>
                </dx-select-box>
              </div>
            </div>
            <dx-validation-summary id="summary"></dx-validation-summary>
          </div>
          <dx-button type="success" text="Iniciar" (click)="verify()"></dx-button>
        </form>
      </div>
    </div>
  </div>
</div>
