<header class="main-header">
  <a href="#" class="logo">
    <span class="logo-mini">
      <b>Dr</b>Fa
    </span>
    <span class="logo-lg">
        <b>Dru</b>Fare
    </span>
  </a>
   <nav class="navbar navbar-static-top">
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <div class="actived navbar-header">
      <a [routerLink]="['/home']" [queryParams]="{ano: ano}" class="navbar-brand"><i class="fa fa-home"><b>&nbsp; Página Inicial</b></i></a>
    </div>
    <div class="navbar-header">
        <a class="navbar-brand"><i class="fa fa-money"><b><em>&nbsp; DruFare</em></b></i> - Gerenciador de Gastos</a>
      </div>
  </nav>
</header>

<!-- <li routerLinkActive="active" ><a [routerLink]="['/restaurants']">Restaurantes</a></li>
<li><a routerLinkActive="active" [routerLink]="['/about']">Sobre</a></li> -->

