<section class="content-header">
  <div class="col-md-12 col-sm-8 col-xs-12">
    <p *ngIf="!params()">
      Este(s) registro(s) não faz
      parte de nehum ciclo.
      Vá para <a href="#">Página Inicial</a>
      e comece um novo ciclo!`
      </p>
  </div>
<h1 *ngIf="params()">{{title}}</h1>
</section>

<div class="row">
  <div class="search col-md-11">
    <div class="row">
      <div class="col-md-5 col-sm-5 col-xs-5">
        <p class="pull-right">Pesquisar</p>
      </div>
    </div>
    <div class="col-md-8 col-sm-6 col-xs-10">
      <!--Barra de Pesquisa-->
      <form [formGroup]="searchForm">
        <div class="col-md-2 col-xs-2 pull-right">
          <button type="submit" [disabled]="!searchForm.valid" class="btn btn-sm btn-default" (click)="search()" ><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
        <div class="col-md-2 col-xs-4 pull-right">
          <dx-select-box formControlName='mes' [placeholder]="mesU" [dataSource]="mesSearch"></dx-select-box>
        </div>
        <div class="col-md-2 col-xs-4 pull-right">
          <dx-select-box formControlName='ano' [placeholder]="anoU" [dataSource]="anoSearch"></dx-select-box>
        </div>
      </form>
      <!--Fim barra de pesquisa-->
    </div>

    <!--Botão Add-->
    <app-botao-plus></app-botao-plus>
      <!-- <button mat-raised-button mat-min-fab class="addRight btn btn-success btn-round btn-fab pull-right fa fa-plus" title="Novo Gasto" (click)="NovoGasto()"></button> -->
    <!--Fim do botão Add-->
  </div>
</div>

<!--Cards Info-->
<section class="content">
  <div class="row">
    <div class="col-md-11 col-sm-8 col-xs-12">
      <div class="row">
        <div *ngFor="let item of resumes" class="col-md-4 col-sm-8 col-xs-12">
          <div *ngIf="item.name === 'Cartão'">
              <app-resume [resume]="item" [value]="cardValue.toFixed(2).replace('.', ',')"></app-resume>
          </div>
          <div *ngIf="item.name === 'Dinheiro'">
              <app-resume [resume]="item" [value]="moneyValue.toFixed(2).replace('.', ',')"></app-resume>
          </div>
        </div>

        <div class="col-md-4 col-sm-8 col-xs-12">
          <div class="info-box">
              <span class="info-box-icon bg-green">
                <i class="fa fa-dollar"></i>
              </span>
              <div class="info-box-content">
                <span class="info-box-text">Total Gasto</span>
                <h3>
                  <b>R$ {{totalValue.toFixed(2).replace('.', ',')}}</b>
                </h3>
              </div>
            </div>
        </div>

      </div>
    </div>
  </div>
  <!--Fim cards Info-->

  <!--Inserção da Grid-->
  <div class="row">
    <div class="col-md-11 col-sm-8 col-xs-12">
      <dx-data-grid
        [dataSource]="gastos"
        [showColumnLines]="true"
        [showRowLines]="true"
        [showBorders]="true"
        [rowAlternationEnabled]="true"
        [columnAutoWidth]="true"
        (onRowRemoved)="delete($event)">

        <dxo-paging [pageSize]="15"></dxo-paging>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-export [enabled]="true"></dxo-export>
        <dxo-group-panel [visible]="true"></dxo-group-panel>
        <dxo-search-panel [visible]="true"></dxo-search-panel>
        <dxo-grouping [contextMenuEnabled]="true"></dxo-grouping>

        <dxo-editing
          mode="form"
          [allowDeleting]="true"
          [useIcons]="true">
        </dxo-editing>

        <dxi-column dataField="name" caption="Nome" cellTemplate="nameTemplate"></dxi-column>
        <dxi-column dataField="value" width="70" format="R$ #,##0.##" caption="Valor"></dxi-column>
        <dxi-column dataField="date" width="70" caption="Data" cellTemplate="dateTemplate"></dxi-column>
        <dxi-column dataField="paymentForm" width="70" caption="Pagamento"></dxi-column>

        <div *dxTemplate="let item of 'dateTemplate'">
          {{dateFormat(item.data.date)}}
        </div>

        <div *dxTemplate="let item of 'nameTemplate'">
          <a [routerLink]="['/form']" [queryParams]="{idIn: item.data._id, idEx: idEx}">{{item.data.name}}</a>
        </div>

      </dx-data-grid>
    </div>
  </div>
  <!--Fim da Grid-->
</section>
